@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  color: #fff;
  background: #0E0B13;
}

main {
  background: #0e0e13;
  height: 100vh;
  height: 100dvh;
}

input, textarea {
  @apply text-black;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
